:root{
    --menubar-bg: #0E2931;
    --menubar-color: #d6d6d6;
    --menubar-hover: #26393F;
}
.menubar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    background-color: var(--menubar-bg);
    color: var(--menubar-color);
}
.menu-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
.menu-list img{
    height: 16px;
}
.menu-list li{
    padding: 4px 10px;
    border-radius: 5px;
    cursor: default;
}
.menu-list li:hover{
    background-color: var(--menubar-hover);
}
.window-option{
    display: flex;
    list-style: none;
    font-size: 18px;
}
.theme-color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.theme-color.light{
    background-color: antiquewhite;
}
.theme-color.blue{
    background-color: blue;
}
.theme-color.dark{
    background-color: black;
}
.window-option li{
    margin: 4px 10px;
}